<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ducdiep.bookmarket">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BookMarket">
        <activity android:name=".ui.client.login.RegisterActivity" />
        <activity android:name=".ui.client.login.LoginActivity" />
        <activity android:name=".ui.client.login.ForgotPasswordActivity" />
        <activity android:name=".ui.client.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>